name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    environment: production
    name: Release
    if: github.repository == '2wheeh/react-virtual-masonry'
    runs-on: ubuntu-latest
    timeout-minutes: 20
    permissions:
      contents: write # to create release (changesets/action)
      issues: write # to post issue comments (changesets/action)
      pull-requests: write # to create pull request (changesets/action)
      id-token: write # to use OpenID Connect token for provenance (changesets/action)

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/ci-setup

      - name: Create Release PR or Publish to npm
        uses: changesets/action@v1
        with:
          publish: 'pnpm run release'
          commit: 'chore: version packages'
          title: 'Release'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
